exclude: '^ui'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        exclude: '(tests|docs|test)/.*'
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        exclude: docs/
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: ['--config', 'api/.flake8']
        exclude: (docs/|get_latest_release_changelog.py)
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_fmt
        exclude: '^(?!infrastructure/).*'
      - id: terraform_validate
        exclude: '^(?!infrastructure/).*'
      - id: terraform_docs
        args:
          - markdown table --recursive --output-file README.md .
        exclude: '^(?!infrastructure/).*'
  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 3.2.488
    hooks:
      - id: checkov
        args: [--quiet, --compact, --skip-check, 'CKV2_GHA_1']
        exclude: '^(?!infrastructure/).*'
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        args: ['--config', 'ui/.prettierrc.json', './ui']
