:root {
  --success: #0dc988;
  --failure: #c90d4e;
  --neutral: #00aeff;
  --success-text: #0dc988;
  --error-text: #c90d4e;
  --pink: #eb2f64;
  --light-pink: #ff3366;
  --dark-pink: #ba265d;
  --light-grey-pink: #f1e4ef;
  --light-grey-1: #faf9f9;
  --light-grey-2: #f4f2f2;
  --light-grey-3: #f0eeee;
  --light-grey-4: #ccc;
  --dark-grey-1: #333;
  --dark-grey-2: #777;
  --dark-grey-3: #999;
  --dark-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  --light-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  --grey-border-bottom-1: 1px solid var(--light-grey-2);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--dark-grey-2);
  background-image: linear-gradient(to right bottom, var(--light-pink), var(--dark-pink));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.content {
  display: grid;
  grid-template-rows: [header-start] 20vh [header-end content-start] 30vh min-content [content-end footer-start] 10vh [footer-end];
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}
.content_body {
  font-size: 1.6rem;
  border-radius: 1rem;
  grid-row-start: content-start;
  grid-row-end: content-end;
  grid-column-start: center-start;
  grid-column-end: center-end;
  display: grid;
  background-color: var(--light-grey-1);
  text-align: center;
  grid-template-rows: minmax(5rem, 1fr) minmax(5rem, 0.5fr);
}
.content_body--small {
  grid-template-rows: min-content minmax(min-content, 1fr);
}
.content-menu {
  align-content: space-around;
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, 2rem));
}
.content_header {
  padding: 3rem;
  align-self: start;
}
.form {
  font-size: 1.6rem;
  border-radius: 1rem;
  grid-row-start: content-start;
  grid-row-end: content-end;
  grid-column-start: center-start;
  grid-column-end: center-end;
  display: grid;
  background-color: var(--light-grey-1);
  text-align: center;
  grid-template-rows: minmax(10rem, 1fr) minmax(5rem, min-content);
  grid-row-gap: 2rem;
}
.form_body:not([hidden]) {
  display: grid;
  grid-template-rows: repeat(2, minmax(5rem, 1fr));
  grid-row-gap: 2rem;
}
.form_body--headed:not([hidden]) {
  grid-template-rows: auto;
}
.form_submit:not([hidden]) {
  display: grid;
  text-align: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: minmax(2rem, min-content) minmax(3rem, 1fr) minmax(
      2rem,
      min-content
    );
  grid-row-gap: 0.6rem;
  margin: 2rem 0;
}
.form--logout {
  display: grid;
  grid-column-start: 8;
  grid-column-end: center-end;
  justify-items: end;
  align-items: center;
}
.form_helper-text {
  font-size: 1.3rem;
  padding-bottom: 0.6rem;
}
.form-select:not([hidden]) {
  display: grid;
  justify-items: center;
  align-items: center;
}
.form-select_dropdown {
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 50%;
  box-shadow: var(--light-shadow);
  align-self: start;
  cursor: pointer;
}
.form-select_dropdown_table {
  background-color: var(--light-grey-1);
  border: none;
  text-align-last: left;
  color: var(--dark-grey-2);
}
.form-checkbox:not([hidden]),
.form-radio:not([hidden]) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 50%));
  grid-template-rows: auto;
  justify-content: space-around;
  align-content: center;
  grid-row-gap: 1rem;
}
.form-checkbox_input,
.form-radio_input {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-column-gap: 0.5rem;
  justify-content: center;
}
.form-checkbox_input label,
.form-checkbox_input input,
.form-radio_input label,
.form-radio_input input {
  cursor: pointer;
}
.form-checkbox_input label,
.form-radio_input label {
  line-height: 100%;
  padding: 0.2rem 0;
}
.form-checkbox_legend,
.form-radio_legend {
  padding: 0 0.5rem 0.5rem;
  font-weight: 600;
}
.form-input:not([hidden]) {
  display: grid;
  align-items: start;
  justify-items: center;
}
.form-input_label:hover {
  cursor: pointer;
}
.form-input_error {
  color: var(--error-text);
}
.form-input_file {
  display: none;
}
.form-input_text {
  min-width: 40%;
  border-style: solid;
  border-color: var(--dark-grey-3);
  box-shadow: var(--light-shadow);
  border-radius: 0.5rem;
  font-size: 1.8rem;
  text-align: center;
  padding: 0.8rem;
}
.form-input_text--row {
  width: 60%;
}
.form-input_legend {
  padding: 0 0.5rem 0.5rem;
  font-weight: 600;
}
.form-input_text::placeholder {
  color: var(--light-grey-4);
  font-style: italic;
}
.form-input--row:not([hidden]) {
  display: flex;
  text-align: start;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 1.5rem auto;
}
.form-input_input_text {
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 50%;
  align-self: start;
  cursor: pointer;
  background-color: var(--light-grey-1);
  border: 1px solid var(--dark-grey-2);
}
.key-value-input:not([hidden]) {
  display: grid;
  width: 40%;
  grid-row-gap: 5px;
}
.key-value-input--row {
  display: grid;
  grid-template-columns: 1fr 1fr 20px;
  grid-column-gap: 10px;
}
.key-input:not([hidden]) {
  display: grid;
  width: 40%;
  grid-row-gap: 5px;
}
.key-input--row {
  display: grid;
  grid-template-columns: 1fr 20px;
  grid-column-gap: 10px;
}
.login {
  display: grid;
  justify-items: center;
  align-items: start;
}
a.btn {
  text-decoration: none;
}
a.btn--back {
  grid-row-start: header-start;
  grid-row-end: header-end;
  grid-column-start: center-start;
  grid-column-end: col-start;
  font-size: 1.4rem;
  color: var(--light-grey-1);
  align-self: center;
}
a.btn--discreet {
  color: var(--dark-grey-2);
}
a.link {
  color: var(--pink);
}
a.link:focus,
a.link :active,
a.link :hover {
  color: var(--dark-pink);
}
input.invalid {
  border-color: var(--error-text);
}
fieldset {
  border-color: var(--light-grey-4);
  margin: 0 auto;
  border-width: 0;
  border-top-width: 2px;
  width: 70%;
  padding-bottom: 1rem;
}
ul {
  padding: 0 2rem;
}
ul > li {
  text-align: left;
  max-width: 80%;
  margin: 0 auto;
}
ul > li.clean {
  list-style: none;
}
ul > li.center {
  text-align: center;
}
.highlight {
  color: var(--pink);
}
.bold {
  font-weight: bold;
}
.btn-set {
  padding-bottom: 3rem;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 1.5rem;
  justify-items: center;
}
.btn {
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.8rem;
  border-style: none;
  padding: 0.6rem 0;
  width: 80%;
  background-color: var(--light-pink);
  color: var(--light-grey-1);
  box-shadow: var(--light-shadow);
}
.btn:disabled {
  pointer-events: none;
  background-color: var(--dark-grey-2);
}
.btn:hover {
  background-color: var(--dark-pink);
  color: var(--light-grey-1);
  box-shadow: var(--dark-shadow);
  cursor: pointer;
}
.btn:active {
  transform: translateY(0.2rem);
  background-color: var(--light-grey-4);
  color: var(--light-pink);
  box-shadow: var(--dark-shadow);
  cursor: pointer;
}
.btn--secondary {
  background-color: var(--light-grey-1);
  color: var(--pink);
  border-style: solid;
  border-color: var(--pink);
  padding: 0.6rem 1rem;
  width: 20%;
  min-width: min-content;
}
.btn--secondary:hover,
.btn--secondary:active {
  background-color: var(--light-grey-2);
  color: var(--dark-pink);
  border-color: var(--dark-pink);
}
.btn--medium {
  width: 60%;
}
.response-msg {
  align-self: start;
  padding: 0 1rem 1rem;
}
.response-msg--error {
  color: var(--error-text);
}
.response-msg--success {
  color: var(--success-text);
}
.status-icon {
  width: 4.5rem;
  height: 4.5rem;
}
.rotating {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.info-table {
  margin-left: auto;
  margin-right: auto;
  min-width: 60%;
  max-width: 90%;
  border-collapse: collapse;
}
.info-table tr {
  border: 1px solid var(--light-grey-4);
}
.info-table tr :first-child {
  text-align: left;
}
.info-table tr :last-child {
  text-align: right;
}
.info-table td,
.info-table th {
  padding: 0.25rem 1rem;
}
.info-table td img,
.info-table th img {
  display: block;
  margin: 0 auto;
}
.info-table_status-icon {
  max-height: 3.25rem;
  aspect-ratio: 1;
}
.info-table--left {
  text-align: left;
}
.loading-spinner {
  display: none;
  width: 50px;
  height: 50px;
  border: 5px solid var(--light-grey-pink);
  border-radius: 50%;
  border-top-color: var(--pink);
  animation: spin 1s ease-in-out infinite;
  text-align: center;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
