# flake8 rules: https://lintlyci.github.io/Flake8Rules/
[flake8]
ignore = E266, E501, W503
max-line-length = 90
max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude = .git,__pycache__,dist,venv,.pytest_cache,.coverage
