name: rAPId Dev Deployment

on:
  push:
    branches:
      - '**'

  workflow_dispatch:

jobs:
  setup:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log commit SHA
        run: echo $GITHUB_SHA

  security-check:
    needs:
      - setup
    runs-on: self-hosted
    steps:
      - name: Checkout  
        uses: actions/checkout@v4
        
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: 'pip'

      - run: pip install -r requirements.txt

      - name: Run security checks
        run: make security-check

  api-dev:
    needs:
      - setup
      - security-check
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Populate .env with additional vars
        run: |
          cp ./.github/.github.env .env
          echo AWS_ACCOUNT=${{ secrets.AWS_ACCOUNT }} >> .env
          echo AWS_REGION=${{ secrets.AWS_REGION }} >> .env
          echo AWS_DEFAULT_REGION=${{ secrets.AWS_REGION }} >> .env

      - name: Build API Image
        run: make api/create-image

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Setup API environment
        run: make api/setup

      - name: API Static Analysis
        run: make api/lint

      - name: API Tests
        run: make api/test

      - name: API Tag and Upload
        run: make api/tag-and-upload

  sdk-dev:
    needs:
      - setup
      - security-check
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Populate .env with additional vars
        run: |
          echo "TWINE_USERNAME=${{ secrets.TWINE_USERNAME_TEST }}" >> .env
          echo "TWINE_PASSWORD=${{ secrets.TWINE_PASSWORD_TEST }}" >> .env
          echo "TWINE_NON_INTERACTIVE=true" >> .env

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Setup Python Environment
        run: |
          make sdk/setup

      - name: SDK Test
        run: make sdk/test

      - name: Set env variable
        run: echo "TEST_SDK_VERSION=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV

      - name: SDK Test Deploy
        run: make sdk/release-test

  ui-dev:
    needs:
      - setup
      - security-check
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install UI Packages
        run: make ui/setup

      - name: UI Test
        run: make ui/test

  cleanup:
    needs:
      - setup
      - security-check
      - api-dev
      - sdk-dev
      - ui-dev
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clean Docker Context
        if: always()
        run: make api/clean-docker
