name: rAPId Release

on:
  release:
    types: [released]

jobs:
  setup:
    if: "${{ startsWith(github.event.release.name, 'API: ') }}"
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log commit SHA
        run: echo $GITHUB_SHA

  api-release:
    needs:
      - setup
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Populate .env with additional vars
        run: |
          cp ./.github/.github.env .env
          echo AWS_ACCOUNT=${{ secrets.AWS_ACCOUNT }} >> .env
          echo AWS_REGION=${{ secrets.AWS_REGION }} >> .env

      - name: Build API Image
        run: make api/create-image

      - name: API Tag and Upload Release Image
        run: make api/tag-and-upload-release-image

  frontend-release:
    needs:
      - setup
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Frontend Packages
        run: make frontend/setup

      - name: Frontend Build Static Files
        run: make frontend/create-static-out

      - name: Frontend Zip and Release
        env:
          TAG: ${{ github.event.release.tag_name }}
          GH_TOKEN: ${{ github.token }}
        run: make frontend/zip-and-release tag=$TAG
