name: rAPId Release

on:
  release:
    types: [released]

jobs:
  setup:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log commit SHA
        run: echo $GITHUB_SHA

  sdk-release:
    needs:
      - setup
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Populate .env with additional vars
        run: |
          echo TWINE_USERNAME=${{ secrets.TWINE_USERNAME }} >> .env
          echo TWINE_PASSWORD=${{ secrets.TWINE_PASSWORD }} >> .env
          echo TWINE_NON_INTERACTIVE=true >> .env

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Setup Python Environment
        run: |
          make sdk-setup
          source sdk/.venv/bin/activate

      - name: SDK Release
        run: make sdk-release

  cleanup:
    needs:
      - setup
      - sdk-release
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Clean Docker Context
        if: always()
        run: make clean-pipeline-docker-context
