name: Scheduled api vulnerability scan results check
on:
  schedule:
    - cron: "0 9,15 * * *"

  workflow_dispatch:

jobs:
  test:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Export env vars
        run:
          cp ./.github/.github.env .env

      - name: Export AWS_ACCOUNT
        run:
          echo AWS_ACCOUNT=${{ secrets.AWS_ACCOUNT }} >> .env

      - name: Export AWS_REGION
        run:
          echo AWS_REGION=${{ secrets.AWS_REGION }} >> .env

      - name: Check for vulnerabilities
        run: make api-scheduled-prod-scan
